<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>dashboard</title>


    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.css') }}">

    
</head>

<body>
    <div class="container-fluid">


        <div class="row">

            <div class="col-3">
                <div class="image-thumb">
                    <h3>Live view</h3>
                    <img class="first"
                        src="/video_feed">
                    <div class="row">
                        <img class="col-4 second"
                            src="c:\Users\user\OneDrive\Desktop\html ucun sekiller\WIN_20241204_10_19_58_Pro.jpg"
                            alt="sekiller">
                        <img class="col-4 second"
                            src="c:\Users\user\OneDrive\Desktop\html ucun sekiller\WIN_20241204_10_17_10_Pro.jpg"
                            alt="sekiller">
                        <img class="col-4 second"
                            src="c:\Users\user\OneDrive\Desktop\html ucun sekiller\WIN_20241204_10_16_58_Pro.jpg"
                            alt="sekiller">
                        <img class="col-4 second" src="c:\Users\user\OneDrive\Desktop\html ucun sekiller\ayssss.png"
                            alt="sekiller">
                        <img class="col-4 second" src="c:\Users\user\OneDrive\Desktop\html ucun sekiller\ayssss.png"
                            alt="sekiller">
                        <img class="col-4 second" src="c:\Users\user\OneDrive\Desktop\html ucun sekiller\ayssss.png"
                            alt="sekiller">
                    </div>
                </div>
            </div>

            <div class="col-9">
                <div class="table-view">
                    <h3>Qeydiyyatda olan məlumatlar</h3>
                    <table class="table">
                        <tr>
                            <th>soyad</th>
                            <th>ad</th>
                            <th>yas</th>
                            <th>edit</th>
                        </tr>
                        <tr>
                            <td><a href="view.html">bədəlli</a></td>
                            <td>aysen</td>
                            <td>14</td>
                            <td>
                                <button class=" btn btn-button  btn-sm" data-toggle="modal" data-target="#editmodal">
                                    <i class="fa fa-edit"></i>
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>




<!-- Modal -->
<div class="modal fade" id="exampleModalCenter"style="display:block;opacity: 1;" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-12">
                <label for="Soyad">Soyad</label>
                <input class="form-control" type="text" >
                <label for="Ad">Ad</label>
                <input class="form-control" type="text" >
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>
</body>

</html>