<!DOCTYPE html>
<html lang="az">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Forması</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}" >
</head>
<body>
    <div class="login-container">
        <form class="login-form">
            <input type="text" placeholder="Name" name="username" required>
            <input type="password" placeholder="ID" name="password" required>
            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>
